body {
	font-family: Georgia, "Times New Roman"
		Times, serif;
	color: blue;
	background-color: #D3D3D3
		}
	h1{
	font-family: Helvetica, Geneva, Arial, SunSans-regular, sans-serif
}
div{
align="";
}